body {
    margin: 0;
}

#start-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#logo-image {
    width: 210px;
    height: 220px;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url("../assets/logo.svg");
    background-size: contain;
}

#start-button {
    position: absolute;
    margin: auto;
    width: 50px;
    right: 0;
    left: 0;
    bottom: 15%;
    background-color: hotpink;
}

.background-image {
    width: 100vw;
    height: 20vh;
    border: 2px solid black;
    background-color: rgba(124, 124, 124, 0.5);
}